body {
    font-family: 'Amatic SC', cursive;
}

#start_game {
    
}

h1, h2 {
    margin: 0;
    text-align: center;
}

h1 {
    font-size: 5em;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 4em;
}

.players img {
    height: 200px;
    margin: 5%;
}

.players {
    height: 400px;
    text-align: center;
}

#grid {
    margin: 0 auto;
    width: 513px;
    height: 513px;
    display: none;
}

.cell {
    height: 165px;
    width: 165px;
    border: solid 3px black;
    float: left;

}
